# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.b#1
*.s#2
WordClock_GE423/word_clock.s#3
*.b##
WordClock_GE423/word_clock.b#2
*.s#1
WordClock_GE423/word_clock.s#4
*.job
WordClock_GE423/word_clock.s#9
*.s#8
*.pro
hardware/eagle.epf
